.button-delete {
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #FF7B7C;
    border: 1px solid #E87764;
}

.button-delete:hover {
    background-color: #FFACAD;
    border: solid 2px #FFACAD;

}