.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* CONTAINER */
.Container {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  margin: 15px auto;
  flex-grow: 1;
}

/* ALERT */
.Alert {
  color: white;
  border-radius: 2px;
  background-color: #FF7B7C;
  border: 1px solid #E87764;
  font-weight: 700;
  padding: 5px;
  margin-top: 1.25em;
}
